<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='health.css') }}">
    <title>Health Section</title>
</head>
<body>

    <header>
        <h1>Health</h1>
        <div id="totalPoints">Total Health Points: <span id="points">0</span></div>
    </header>
    </header>

    <main>
        <section class="partition" id="diet">
            <h2>Diet</h2>
            <p>Content related to healthy diet and nutrition goes here.</p>
        </section>

        <section class="partition" id="workout">
            <h2>Workout</h2>
            <p>Content related to exercise routines and workouts goes here.</p>
        </section>
    </main>

</body>
</html>
